pip==19.2.3
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
mkdocs-material==6.0.2
mkdocstrings==0.13.6
twine==1.14.0

pytest==4.6.5
pytest-runner==5.1

numpy==1.16.*
requests==2.18.*
gluonts==0.5.2
xlrd==1.2.0
scipy==1.5.2

-f https://dist.mxnet.io/python/all 
mxnet==1.6 